.container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.icon {
  flex-shrink: 0;
  display: flex;
  padding-right: 8px;
}

.text {
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
}
