@import "styles/variables.scss";
@import "bootstrap/scss/mixins/_breakpoints.scss";

.container {
  width: 400px;
  margin: 20vh auto;
  background-color: var(--bs-white);
}

@include media-breakpoint-down(md) {
  .container {
    width: 300px;
  }
}
